{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" style="margin-top: 50px;">
    <a>
        <label>Markė</label>
        <select>
            <option value="BMW">BMW</option>
        </select>
        <label>Modelis</label>
        <select>
            <option value="E60">E60</option>
            <option value="F10">F10</option>
            <option value="F11">F11</option>
        </select>
        <label>Variklis</label>
        <select>
            <option value="1.8 benzinas">1.8 benzinas</option>
            <option value="2.0 dyzelinas">2.0 dyzelinas</option>
            <option value="2.5 dyzelinas">2.5 dyzelinas</option>
            <option value="3.0 dyzelinas">3.0 dyzelinas</option>
        </select>
        <label>Spalva</label>
        <select>
            <option value="300">Alpine White</option>
            <option value="416">Carbon Black</option>
            <option value="A52">Space Grey</option>
            <option value="A22">Sparkling Graphite</option>
        </select>
        <label>Sėdynės</label>
        <select>
            <option value="sportines">Standartinės sėdynės</option>
            <option value="sportines">Sportinės sėdynės</option>
            <option value="sportines">Odinės sėdynės</option>
        </select>
        <label>Šildomas vairas</label>
        <select>
            <option value="t">Taip</option>
            <option value="n">Ne</option>
        </select><br>
        <label>Ar reikės perdažyti?</label>
        <input type="checkbox" id="checkboxas">
        <input type="text" id="textInput" disabled placeholder="Spalvos kodas">
        <label>Ar apvynioti kaspinu?</label>
        <input type="checkbox" id="checkboxas2">
        <select id="selectInput" disabled>
            <option value="Raudonas">Raudonas kaspinas</option>
            <option value="Žalias">Žalias kaspinas</option>
            <option value="Mėlynas">Mėlynas kaspinas</option>
            <option value="Geltonas">Geltonas kaspinas</option>
        </select>
        <a href={{ path('video') }} id="button" class="btn btn-info" style="background-color: #FCFAD7; color: #222222;">Užsakyti</a>
    </form>
    </div>
    <script>
        document.getElementById('button').onclick = function () {
            alert('Automobilis užsakytas');
        };
        document.getElementById('checkboxas').onchange = function() {
            document.getElementById('textInput').disabled = !this.checked;
        };
        document.getElementById('checkboxas2').onchange = function() {
            document.getElementById('selectInput').disabled = !this.checked;
        };
    </script>
{% endblock %}