{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <label>Prisijungimo vardas</label>
        <input type="text">
        <label>Slaptažodis</label>
        <input type="password">
        <a href={{ path('profile') }} id="button" class="btn btn-info" style="background-color: #FCFAD7; color: #222222;">Prisijungti</a>
    </div>
    <script>
        document.getElementById('button').onclick = function () {
            alert('Prisijungėte');
        };
    </script>
{% endblock %}