{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" style="margin-top: 50px">
        <div class="gallery" id="gallery">
            <!-- Grid column -->
            <div class="mb-3 pics animation all 1">
                <img class="img-fluid" src="https://www.picclickimg.com/d/l400/pict/264382638102_/GENUINE-Audi-A3-8P-Front-Indicator-Bulb-Holder.jpg" alt="Card image cap">
            </div>

        </div>
    </div>
    <br>
    <div class="container">
        <a href={{ path('completed') }} id="button" class="btn btn-info" style="background-color: #FCFAD7; color: #222222;">Užsakyti</a><br>
    </div>
    <br>
    <div class="rating">
        <input type="radio" name="star" id="1"><label for="1"></label>
        <input type="radio" name="star" id="2"><label for="2"></label>
        <input type="radio" name="star" id="3"><label for="3"></label>
        <input type="radio" name="star" id="4"><label for="4"></label>
        <input type="radio" name="star" id="5"><label for="5"></label>
    </div>
    <script>
        document.getElementById('button').onclick = function () {
            alert('Dalis užsakyta');
        };
        $(function() {
            var selectedClass = "";
            $(".filter").click(function(){
                selectedClass = $(this).attr("data-rel");
                $("#gallery").fadeTo(100, 0.1);
                $("#gallery div").not("."+selectedClass).fadeOut().removeClass('animation');
                setTimeout(function() {
                    $("."+selectedClass).fadeIn().addClass('animation');
                    $("#gallery").fadeTo(300, 1);
                }, 300);
            });
        });
    </script>
{% endblock %}