{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <table class="table">
        <tr>
        <th>Dalis</th>
        <th>Gamintojas</th>
        <th>Kaina</th>
        <th>Peržiūrėti</th>
        </tr>
        <tr>
            <td>Audi A3 2001m. priekinio dešinio posūkio lemputė</td>
            <td>Osram</td>
            <td>4.50 €</td>
            <td><a href={{ path('part') }} class="btn btn-info" style="background-color: #FCFAD7; color: #222222;">Peržiūrėti</a></td>
        </tr>
        <tr>
            <td>Audi A4 2001m. priekinio kairio posūkio lemputė</td>
            <td>Valeo</td>
            <td>6 €</td>
            <td><a href={{ path('part') }} class="btn btn-info" style="background-color: #FCFAD7; color: #222222;">Peržiūrėti</a></td>
        </tr>
        <tr>
            <td>Audi A8 2001m. priekinio dešinio posūkio lemputė</td>
            <td>Bosch</td>
            <td>10 €</td>
            <td><a href={{ path('part') }} id="button" class="btn btn-info" style="background-color: #FCFAD7; color: #222222;">Peržiūrėti</a></td>
        </tr>
    </table>
    </div>
{% endblock %}