{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <label>Vardas</label>
        <input type="text"><br>
        <label>Pavardė</label>
        <input type="text"><br>
        <label>El. paštas</label>
        <input type="text"><br>
        <label>Noriu gauti naujienlaiškius </label>
        <input type="checkbox"><br>
        <a href={{ path('home') }} id="button" class="btn btn-info" style="background-color: #FCFAD7; color: #222222;">Keisti</a>
        <a href={{ path('home') }} id="button2" class="btn btn-info" style="background-color: #FCFAD7; color: #222222;">Ištrinti paskyrą</a>
    </div>
    <script>
        document.getElementById('button').onclick = function () {
            alert('Profilis pakeistas');
        };
        document.getElementById('button2').onclick = function () {
            alert('Paskyra ištrinta');
        };
    </script>
{% endblock %}