{% extends'base.html.twig' %}
{% block body %}
<div class="container" style="margin-top: 50px;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IzA8Jxf51fk?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

    <div clas="container">
    <div class="row">
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="gallery" id="gallery">

        <!-- Grid column -->
        <div class="mb-3 pics animation all 2">
            <img class="img-fluid" src="https://i.ytimg.com/vi/mKv8ZPKfvzE/maxresdefault.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation all 1">
            <img class="img-fluid" src="https://static.schmiedmann.dk/ProductPictures/image_150602_big.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation all 1">
            <img class="img-fluid" src="https://www.picclickimg.com/d/l400/pict/292714019543_/2011-2015-For-BMW-5-Series-F10-Inside-Door.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation all 2">
            <img class="img-fluid" src="https://pictures.topspeed.com/IMG/jpg/200911/2011-bmw-5-series-sedan-48.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation all 2">
            <img class="img-fluid" src="https://malaysia.timbangharga.com/cf/350/cdn/HTB1MvoxGFmWBuNjSspdq6zugXXaV/Yimaautotrims-Accessories-Interior-Inside-Air-Conditioning-AC-Outlet-Vent-Cover-Trim-For-BMW-5-Series-F10.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation all 1">
            <img class="img-fluid" src="https://ae01.alicdn.com/kf/HTB1bKv3NVXXXXXoapXXq6xXFXXXP/For-BMW-5-Series-F10-520Li-528Li-525Li-2011-2012-2013-2014-2015-2016-Car-Interior.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation all 1">
            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf1xjnHP0p5T7XgkJ2Syonxwy5XTnHEWukUSycE77p9b6zh6MS9A&s" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation all 1">
            <img class="img-fluid" src="https://i.ebayimg.com/images/g/zmEAAOSwor9c69ud/s-l300.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation all 1">
            <img class="img-fluid" src="https://c1552172.ssl.cf0.rackcdn.com/296076_x800.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation all 1">
            <img class="img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/81FOTWFmbjL._SX355_.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

    </div>
    </div>
    <!-- Grid row -->
{% endblock %}