<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Šrotas{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {% endblock %}
    {% apply inline_css %}
    <html>
    <head>
        <style>
            .rating {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotateY(180deg);
                display: flex;
                width: 25%;
                height: 25%;
            }
            .rating input {
                display: none;
            }
            .rating label {
                display: block;
                cursor: pointer;
                width: 50px;
            }
            .rating label:before {
                content: '\f0ad';
                font-family: fontAwesome;
                position: relative;
                display: block;
                font-size: 50px;
                color: #101010;
            }
            .rating label:after {
                content: '\f0ad';
                font-family: fontAwesome;
                position: absolute;
                display: block;
                font-size: 50px;
                color: #1f9cff;
                top: 0;
                opacity: 0;
                transition: .5s;
                text-shadow: 0 2px 5px rgba(0,0,0,.5);
            }
            .rating label:hover:after,
            .rating label:hover ~ label:after,
            .rating input:checked ~ label:after{
                opacity: 1;
            }
                        body {
                background-color: #FEFFE3;
            }
            .gallery {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
                -webkit-column-width: 33%;
                -moz-column-width: 33%;
                column-width: 33%; }
            .gallery .pics {
                -webkit-transition: all 350ms ease;
                transition: all 350ms ease; }
            .gallery .animation {
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1); }

            @media (max-width: 450px) {
                .gallery {
                    -webkit-column-count: 1;
                    -moz-column-count: 1;
                    column-count: 1;
                    -webkit-column-width: 100%;
                    -moz-column-width: 100%;
                    column-width: 100%;
                }
            }

            @media (max-width: 400px) {
                .btn.filter {
                    padding-left: 1.1rem;
                    padding-right: 1.1rem;
                }
            }
        </style>
    </head>
</html>
    {% endapply %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #FCFAD7 !important;">
    <a class="navbar-brand" href="http://127.0.0.1:8000/" style="background-color: #FCFAD7;">Šrotas</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color: #FCFAD7;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href={{ path("parts") }}> Dalys <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href={{ path("cars") }}> Automobiliai <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href={{ path("login") }}> Prisijungti <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>